<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="Login.Html" />
                <add value="new.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
